<template>
  <div>
    <div class="equation">
      <div style="margin-right: 30px">
        <a class="button" href="#" @click="addFraction">Add fraction</a>
      </div>
      <component v-for="(s, i) in symbols" :key="i" v-bind:is="symbols[i].component" @error="raiseError" v-bind="symbols[i].attributes" v-model="symbols[i].model" />
      <div class="operator">
        <span>=</span>
      </div>
      <fraction immutable v-bind:value="result" />
    </div>
    <div v-show="error" class="error">{{ error }}</div>
  </div>
</template>

<script>
import CFraction, { Fraction } from './Fraction'
import COperator, { Operator } from './Operator'

import { Operators } from './Operator'

export default {
  name: 'Fractions',
  components: {
    'fraction': CFraction,
    'operator': COperator,
  },
  data () {
    return {
      symbols: [
        { component: CFraction, model: Fraction.random() },
        { component: COperator, model: Operator.random(), attributes: { options: Operators } },
        { component: CFraction, model: Fraction.random() }
      ],
      error: null,
    }
  },
  computed: {
    result () {
      let postfixNotation

      try {
        postfixNotation = this.createPostfixNotation()
      } catch (e) {
        this.raiseError(e)
        return new Fraction()
      }

      console.log(postfixNotation)

      do {
        try {
          const index = postfixNotation.findIndex(x => x instanceof Operator)
          const operator = postfixNotation[index]

          const operands = postfixNotation.slice(index - operator.operands, index)

          const result = operator.evaluate(...operands).reduce()

          postfixNotation.splice(index - operator.operands, operator.operands + 1, result)

        } catch (e) {
          this.raiseError(e.message)
          return new Fraction()
        }

      } while (postfixNotation.length > 1)

      this.error = null

      return postfixNotation.pop()
    }
  },
  methods: {
    raiseError (msg) {
      console.error(msg)
      this.error = msg
    },
    addFraction () {
      this.symbols.unshift({ component: COperator, model: Operator.random(), attributes: { options: Operators } })
      this.symbols.unshift({ component: CFraction, model: Fraction.random() })
    },
    removeFraction (index) {
      this.operands.splice(index, 1)
      this.operators.splice(index, 1)
    },
    createPostfixNotation () {
      const output = []
      const operators = []

      for (let s of this.symbols) {
        if (s.model instanceof Fraction) {
          output.push(s.model)
        }

        /*
        if (s.model instanceof SpecialToken) {
          const token = s.model

          switch (token.denotation) {
            case '(':
              operators.push(operator)
              break

            case ')':
              var lastOperator
              do {
                lastOperator = operators.pop()
                output.push(lastOperator)

              } while (lastOperator.denotation !== '(' && operators.length > 0)

              if (operators.length === 0 && lastOperator.denotation !== '(') {
                throw Error('Invalid expression: Missing opening round parenthesis.')
              }

              ouput.pop()
              break
          }
        }
        */

        if (s.model instanceof Operator) {
          const operator = s.model

          while (operators.length > 0 &&
                ((operator.associativity === 'right' && operator.priority < operators[operators.length - 1].priority) ||
                 (operator.associativity === 'left' && operator.priority <= operators[operators.length - 1].priority))) {
            output.push(operators.pop())
          }

          operators.push(operator)
        }
      }

      while (operators.length > 0) {
        output.push(operators.pop())
      }

      return output
    }
  }
}
</script>

<style scoped>
.equation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.element {
  display: flex;
  flex-direction: column;
}
.error {
  display: flex;
  color: red;
  padding: 10px;
}
</style>
