<template>
  <div class="fraction" v-if="immutable && (!value.n || !value.d)">
    <span>NaN</span>
  </div>
  <div v-else class="fraction">
    <input v-if="!immutable && edit === 'numerator'" v-focus type="text" v-bind:value.number="value.n" v-on:input="checkNumerator($event.target)" v-on:keyup.enter="finish" v-on:keyup.esc="finish">
    <span v-else v-on:click="edit = 'numerator'; tmp = value.n">{{ value.n }}</span>
    <hr>
    <input v-if="!immutable && edit === 'denominator'" v-focus type="text" v-bind:value.number="value.d" v-on:input="checkDenominator($event.target)" v-on:keyup.enter="finish" v-on:keyup.esc="finish">
    <span v-else v-on:click="edit = 'denominator'; tmp = value.d">{{ value.d }}</span>
  </div>
</template>

<script>
const _r = Math.random

const gcd = (a, b) => b ? gcd(b, a % b) : a

export class Fraction {
  constructor (n, d) {
    this.n = n >> 0
    this.d = d >> 0
  }

  static random () {
    return new Fraction(_r() * 100 >> 0, (_r() * 100 >> 0) + 1)
  }

  reduce () {
    let c = gcd(this.n, this.d)

    this.n = this.n / c
    this.d = this.d / c

    return this
  }
  
}

export default {
  name: 'Fraction',
  props: {
    value: Fraction,
    immutable: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      edit: 'none',
      tmp: undefined,
      error: undefined
    }
  },
  methods: {
    checkNumerator (target) {
      if (target.value === 'NaN' || target.value === '') {
        return
      }

      if (/^0$|^\d*$/.test(target.value)) {
        this.value.n = parseInt(target.value)
        return
      }

      this.$emit('error', `Invalid numerator: ${target.value}`)
    },
    checkDenominator (target) {
      if (target.value === 'NaN' || target.value === '') {
        return
      }

      if (/^[1-9]\d*$/.test(target.value)) {
        this.value.d = parseInt(target.value)
        return
      }

      this.$emit('error', `Invalid denominator: ${target.value}`)
    },
    finish () {
      if (this.edit === 'numerator') {
        this.checkNumerator(this.$el.firstChild)
      }
      if (this.edit === 'denominator') {
        this.checkDenominator(this.$el.lastChild)
      }
      this.edit = 'none'
      this.$emit('input', this.value)
    }
  },
  directives: {
    focus: {
      inserted (el) {
        el.focus()
      }
    }
  },
  created () {
    document.addEventListener('click', this.finish, true)
  },
  deleted () {
    document.removeEventListener('click', this.finish)
  }
}
</script>

<style scoped>
.fraction {
  display: flex;
  flex-direction: column;
  min-width: 20px;
  text-align: center;
}
.fraction span {
  font-weight: bold;
  font-face: Helvetica, Arial;
  cursor: pointer;
}
.fraction hr {
  height: 2px;
  margin: 3px 1px;
  background: black;
}
.fraction input {
  min-width: 30px;
  width: 30px;
  padding: 0rem;
}
.error {
  border: 1px solid red;
}
</style>
