<template>
  <div class="operator">
    <select v-focus v-if="options.length > 0 && edit" v-model="value">
      <option v-for="operator in options" v-bind:value="operator">{{ operator.denotation }}</option>
    </select>
    <span v-else v-on:click="edit = true">{{ value.denotation }}</span>
  </div>
</template>

<script>
import { Fraction } from './Fraction'

export class Operator {
  constructor (op) {
    switch (op) {
      case '+':
      case '-':
        this.priority = 3
        this.associativity = 'left'
        break
      case '*':
      case '/':
        this.priority = 4
        this.associativity = 'left'
        break
      case '^':
        this.priority = 5
        this.associativity = 'right'
        break
      default:
        throw TypeError(`Invalid operator: ${op}`)
        break
    }

    this.operands = 2
    this.denotation = op
  }

  static random () {
    const OperatorConstructors = [PlusOperator, MinusOperator, MultiplyOperator, DivideOperator]
    return new OperatorConstructors[Math.random() * OperatorConstructors.length >> 0]
  }

  check () { 
    if (arguments.length !== this.operands) {
      throw Error('Number of arguments dont\'t match number of operands')
    }

    for (let arg of arguments) {
      if (!(arg instanceof Fraction)) {
        throw TypeError('Operand must be Fraction')
      }
    }
  }

  evaluate () { throw Error('Trying to call virtual method.') }

}

class PlusOperator extends Operator {
  constructor () { super('+') }

  evaluate () {
    super.check(...arguments)

    return new Fraction(arguments[0].n * arguments[1].d +
      arguments[1].n * arguments[0].d, arguments[0].d * arguments[1].d)
  }
}

class MinusOperator extends Operator {
  constructor () { super('-') }

  evaluate () {
    super.check(...arguments)

    return new Fraction(arguments[0].n * arguments[1].d -
      arguments[1].n * arguments[0].d, arguments[0].d * arguments[1].d)
  }
}

class MultiplyOperator extends Operator {
  constructor () { super('*') } 

  evaluate () {
    super.check(...arguments)
        
    return new Fraction(arguments[0].n * arguments[1].n,
      arguments[0].d * arguments[1].d)
  }
}

class DivideOperator extends Operator {
  constructor () { super('/') }

  evaluate () {
    super.check(...arguments)

    if (arguments[1].n == 0) {
      throw Error('Division by zero')
    }
        
    return new Fraction(arguments[0].n * arguments[1].d,
      arguments[0].d * arguments[1].n)
  }
}

const Plus = new PlusOperator()
const Minus = new MinusOperator()
const Multiplication = new MultiplyOperator()
const Division = new DivideOperator()

const Operators = [Plus, Minus, Multiplication, Division]

export {
  Plus,
  Minus,
  Multiplication,
  Division,
  Operators
}

export default {
  name: 'Operator',
  props: {
    value: Operator,
    immutable: {
      type: Boolean,
      default: false
    },
    options: {
      type: Array,
      default: () => [],
      validator: a => a.length === 0 || a.every(x => x instanceof Operator)
    }
  },
  data () {
    return {
      edit: false,
      selected: this.value
    }
  },
  methods: {
    finish (event) {
      this.edit = false
      this.$emit('input', this.value)
    }
  },
  directives: {
    focus: {
      inserted (el) {
        el.focus()
      }
    }
  },
  created () {
    document.addEventListener('click', this.finish, true)
  },
  deleted () {
    document.removeEventListener('click', this.finish)
  }
}
</script>

<style>
.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 20px;
  text-align: center;
}
.operator span {
  font-weight: bold;
  font-face: Helvetica, Arial;
  cursor: pointer;
}
.operator select {
  display: flex;
  margin: 5px;
  padding: 0rem 1rem 0rem 0.5rem;
}
</style>
