<template>
  <div v-if="connected">
    <div v-for="comment in comments" class="card">
      <div class="section">
        <p>{{ comment.data }} <a @click="deleteComment(comment)" style="float: right" href="#">[Удалить]</a></p>
      </div>
    </div>
  </div>
  <div v-else-if="ws">
    <h2>Disconnected</h2>
  </div>
  <div v-else>
    <h2>Connecting to websockets server...</h2>
  </div>
</template>

<script>
export default {
  name: 'MWebsockets',
  data () {
    return {
      comments: [
        { id: 1, data: "Тестовый коммент 1", deleteTimeout: undefined, deleteTimestamp: undefined },
        { id: 2, data: "Это шедевр", deleteTimeout: undefined, deleteTimestamp: undefined },
        { id: 3, data: "Это прекрасно", deleteTimeout: undefined, deleteTimestamp: undefined },
        { id: 4, data: "Лучшее, что я видел", deleteTimeout: undefined, deleteTimestamp: undefined },
        { id: 5, data: "Два чая этому автору", deleteTimeout: undefined, deleteTimestamp: undefined }
      ],
      ws: undefined,
      connected: false
    }
  },
  created () {
    this.ws = new WebSocket('ws://echo.websocket.org/')
    this.ws.onopen = () => {
      console.log('Connected to WebSockets echo service')
      this.connected = true
    }
    this.ws.onmessage = event => {
      let index

      if ((index = this.comments.findIndex(c => c.id == event.data)) >= 0) {
        let comment = this.comments[index]
        if (comment.deleteTimeout) {
          clearTimeout(comment.deleteTimeout)
          this.comments.splice(index, 1)

          console.log(`Commentary #${comment.id} has been deleted [${Date.now() - comment.deleteTimestamp}ms sync time]`)
        }
      }
    }
    this.ws.onclose = () => {
      console.log('Connection terminated')
      this.connected = false
    }
  },
  beforeDelete () {
  },
  methods: {
    deleteComment (comment) {
      if (!this.ws) {
        return
      }

      this.ws.send(comment.id)

      comment.deleteTimestamp = Date.now()

      comment.deleteTimeout = setTimeout(() => {
        comment.deleteTimeout = undefined
        console.warn('Server respond timeout')
      }, 20000) // 20 seconds timeout
    }
  }
}
</script>

<style scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
