<template>
  <div>
    <header>
      <a href="#" class="logo">Test exercises</a>
      <router-link class="button" to='/fractions'>1. Fractions</router-link>
      <router-link class="button" to='/websockets'>2. Websockets</router-link>
    </header>
    <router-view style="padding: 20px"></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
body {
  font-family: Helvetica, Arial, sans-serif;
}
</style>
